venv/
venv3.10/
venv3.12/
13F_RAW_FILES/
edgar3/
edgar3-main/
sec-edgar/
main/nbs/secdata_13f/
*__pycache__/
playground/dask-worker-space/
*.env
*.env_test
*.DS_Store

*.txt
*.db
*.csv
*.parquet
*.zip

main_v2/notebooks/test_sqlite.db
**/*.ipynb_checkpoints/
playground/course/data/

